#header {
    background: #404040;
    border-bottom: 4px solid #7a7a7a;
    color: #fff;
    text-align: center;
    padding: 1rem;
}
#header a {
    display: inline-block;
}
#header #logo-svg {
    width: 8rem;
    height: 2rem;
}
#header #logo-svg path {
    fill: #fff;
}
date {
  display: block;
  text-align: center;
}
/*#footer {
  text-align: center;
}*/
